@font-face {
    font-family: font1;
    src: url(fonts/font1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 70%;
    width: 65%;
    border-radius: 10px;
    display: flex;
    background-color: black;
    box-shadow: rgba(121, 118, 120, 0.4) 5px 5px, rgba(129, 125, 128, 0.3) 10px 10px, rgba(129, 125, 128, 0.3) 15px 15px, rgba(129, 125, 128, 0.1) 20px 20px, rgba(129, 125, 128, 0.05) 25px 25px;
}
.left{
    height: 100%;
    width: 60%;
    color: white;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left > h1{
    font-size: 40px;
    font-family: font7;
}
form {
    height: 100%;
    width: 100%;
}
form > input[type="email"]{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    border-bottom: solid grey 2px;
}
.input_links{
    background-color: aquamarine;
}
input[type="checkbox"]{
    margin-top: 2%;
    cursor: pointer;
}
button{
    margin-top: 2%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    width: 40%;
    align-self: center;
    &:hover{
        background-color: black;
        color: white;
    }
}
.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.links > a{
    text-decoration: none;
    color: white;
}

.right{
    height: 100%;
    width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(image/xavier-teo-SxAXphIPWeg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}